html {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    /* scroll-behavior:smooth; */
}
body {
    background-color: #fdfdfd;
}

/* ========== first ========== */
.first {
    width: 100%;
    height: 100vh;
}
/* animation */
.first_animation{
    position: relative;
}
.left_abc{
    position: absolute;
    width: 10%;
    top: 40rem;
    left: 0%;
    animation: leftAni 3s infinite  ease-in-out;
}
@keyframes leftAni {
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-5rem);
    }
    100%{
        transform: translateX(0);
    }
}
.right_abc{
    position: absolute;
    width: 10%;
    top: 10rem;
    right: 0%;
    animation: rightAni 3s infinite  ease-in-out;
}
@keyframes rightAni {
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(5rem);
    }
    100%{
        transform: translateX(0);
    }
}
/* animation */
/* nav */
.first > nav {
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.first > nav > .logo {
    width: 22rem;
    height: 22rem;
}
ul.dep1 {
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
ul.dep1 > li {
    font-family: "Space Grotesk", sans-serif;
    font-size: 2rem;
    font-weight: 300;
    font-style: normal;
}
ul.dep1 > li > a {
    display: block;
    padding: 0 1.4rem 0.4rem;
    color: #303133;
    transition: 0.2s;
}
ul.dep1 > li > a:hover{
    font-weight: 500;
    color: rgba(41, 165, 135, 0.5647058824);
}
/* nav */

/* cnt */
.first > .cnt {
    width: 80%;
    height: 60%;
    margin: 7rem auto 15rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}
.cnt_left {
    width: 15rem;
    height: 5rem;
    line-height: 5rem;
    border-radius: 2rem;
    background-color: #ebebeb;
    transform: rotate(-90deg);
}
.cnt_left a {
    font-size: 2rem;
    font-weight: 400;
    font-family: "Space Grotesk", sans-serif;
    color: #303133;
    transition: 0.2s;
}
.cnt_left a:hover {
    color: rgba(41, 165, 135, 0.5647058824);
}
.cnt_left i {
    padding-left: 1rem;
}
.cnt_mid{
    margin-top: 15rem;
}
.cnt_mid > .cnt_top {
    font-size: 2.4rem;
    font-weight: 400;
    font-family: "Space Grotesk", sans-serif;
    color: #303133;
}
.cnt_mid > .cnt_main {
    line-height: 1.3;
    font-size: 12.5rem;
    font-weight: 700;
    font-family: "Pretendard", sans-serif;
    color: #303133;
    margin-top: 5rem;
}
.cnt_mid > .cnt_main > .green {
    color: #29A587;
}
.cnt_mid > .cnt_main > .stroke {
    -webkit-text-stroke: 1.5px #29A587;
    color: transparent;
}
.jump{
    display: inline-block;
}
.jump1{
    display: inline-block;
    animation: jump 2s infinite;
}
.jump2{
    display: inline-block;
    animation: jump 2s infinite;
    animation-delay: 0.5s;
}
@keyframes jump {
    0%{
        transform: translateY(0rem);
    }
    25%{
        transform: translateY(-5rem);
    }
    100%{
        transform: translateY(0rem);
    }
}
.mouse_ani{
    width: 25rem;
    opacity: 0.7;
    margin: auto;
}
.cnt_right {
    width: 15rem;
    height: 5rem;
    line-height: 5rem;
    border-radius: 2rem;
    background-color: #ebebeb;
    transform: rotate(90deg);
}
.cnt_right > a {
    font-size: 2rem;
    font-weight: 400;
    font-family: "Space Grotesk", sans-serif;
    color: #303133;
    transition: 0.2s;
}
.cnt_right > a:hover {
    color: rgba(41, 165, 135, 0.5647058824);
}
.cnt_right > i {
    padding-left: 1rem;
}
/* cnt */
/* ========== first ========== */

/* ========== second ========== */
.second {
    width: 100%;
    height: 100vh;
}
.second > .title {
    height: 20rem;
    line-height: 20rem;
    text-align: center;
    font-size: 8rem;
    font-weight: 900;
    font-family: "Space Grotesk", sans-serif;
    color: #303133;
    position: relative;
}
.second > .title:before,
.second > .title:after {
    position: absolute;
    content: "";
    display: block;
}
.second > .title:before {
    width: 4rem;
    height: 4rem;
    top: 50%;
    left: 50%;
    transform: translate(-700%, -50%);
    border: 0.4rem solid #303133;
    border-radius: 50%;
    box-shadow: 3px 3px 10px #818181;
    background-color: #29A587;
}
.second > .title:after {
    width: 10rem;
    height: 0.4rem;
    top: 50%;
    left: 50%;
    transform: translate(-290%, -50%);
    box-shadow: 3px 3px 10px #818181;
    background-color: #303133;
}
.second_content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 7rem;
}
.second_content > .content_left,
.second_content > .content_right {
    width: 50%;
    text-align: center;
}
.content_title {
    font-size: 5rem;
    font-weight: 600;
    font-family: "Space Grotesk", sans-serif;
    color: #303133;
}
.introduce {
    margin-top: 8rem;
    justify-content: center;
    text-align: left;
    gap: 15rem;
}
.introduce > .int_title {
    margin-left: 20rem;
}
.introduce li {
    font-size: 3rem;
    font-family: "Pretendard", sans-serif;
    font-weight: 500;
    margin-bottom: 3rem;
    color: #303133;
}
.green_circle {
    width: 55em;
    height: 55em;
    margin: auto;
    background-color: #29A587;
    border-radius: 50%;
    position: relative;
}
/* ========== second ========== */

/* ========== horizontal ========== */
.horizontal {
    width: 400%;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
}
.section {
    width: 100%;
    height: 100%;
    padding: 10px;
}
/* ========== horizontal ========== */

/* ========== project1 ========== */
.sec1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.project_num {
    font-size: 2rem;
    font-weight: 800;
    color: #303133;
    position: relative;
    padding: 3rem 0;
}
.project_num::before {
    position: absolute;
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    top: 50%;
    left: -5%;
    transform: translateY(-50%);
    background-color: #0054a6;
}
.main_left {
    width: 60%;
    position: relative;
}
.police_car{
    width: 10rem;
    height: 10rem;
    position: absolute;
    top: -12%;
    left: 5%;
    animation: policeCar 15s infinite;
}
@keyframes policeCar {
    0%{transform: translate(0);}
    50%{transform: translateX(90rem);}
    100%{transform: translateX(0rem);}
}
.pr1_ani{
    position: absolute;
    width: 15%;
    z-index: -1;
    top: 25rem;
    right: -4%;
}
.main_left > .pc1_full_page {
    width: 90%;
    height: 70rem;
    border: 3px solid #ddd;
    border-radius: 3rem;
    margin-left: 5rem;
    background-image: url(../img/project/project1/project1_fullpage.png);
    background-repeat: no-repeat;
    background-position: center 0%;
    background-size: 100%;
    transition: all 2s ease-in-out;
    box-shadow: 3px 3px 3px #d9d9d9;
}
.main_left > .m1_full_page {
    position: absolute;
    bottom: -5%;
    right: 0%;
    width: 25%;
    height: 40rem;
    border: 3px solid #ddd;
    border-radius: 2rem;
    background-image: url(../img/project/project1/project1_fullpageM.png);
    background-repeat: no-repeat;
    background-position: center 0%;
    background-size: 100%;
    transition: all 3s ease-in-out;
    box-shadow: 0px 0px 50px #d9d9d9;
}
.mouse_on{
    position: absolute;
    top: 5%;
    right: 3%;
    font-size: 1.3rem;
    font-weight: 600;
    color: #0054a6;
    opacity: 0.6;
}
.main_right {
    width: 40%;
    height: 80%;
}
.main_right > .main_content {
    width: 70%;
    margin: auto;
}
.project_title {
    font-size: 5rem;
    font-weight: 700;
    padding-bottom: 2.5rem;
    display: flex;
    align-items: center;
}
.project_title img {
    width: 7rem;
    height: 7rem;
    margin-left: 1rem;
}
.project_compatibility{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.project_compatibility > .compatibility_title{
    width: 11rem;
    height: 4rem;
    text-align: center;
    border-radius: 2rem;
    border: 2px solid;
    line-height: 4rem;
    font-size: 2rem;
    font-weight: 600;
    margin-right: 4rem;
    position: relative;
    color: #fff;
    background-color: #0054a6;
}
.compatibility_name i{
    font-size: 3.5rem;
}
.compatibility_name i:nth-child(1){
    margin-right: 0.7rem;
}
.compatibility_name i:nth-child(2){
    margin-right: 0.7rem;
}
.compatibility_name i:nth-child(3){
    margin-right: 0.7rem;
}
.compatibility_name i:nth-child(4){
    margin-right: 0.7rem;
}
.compatibility_title:before {
    position: absolute;
    content: "";
    width: 3rem;
    height: 0.2rem;
    background: #0054a6;
    top: 50%;
    right: -3rem;
    transform: translateY(-50%);
}
.project_skill {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
}
.project_skill > .skill_title {
    width: 11rem;
    height: 4rem;
    text-align: center;
    border-radius: 2rem;
    border: 2px solid;
    line-height: 4rem;
    font-size: 2rem;
    font-weight: 600;
    margin-right: 4rem;
    position: relative;
    color: #fff;
    background-color: #0054a6;
}
.skill_title:before {
    position: absolute;
    content: "";
    width: 3rem;
    height: 0.2rem;
    background: #0054a6;
    top: 50%;
    right: -3rem;
    transform: translateY(-50%);
}
.project_skill > .skill_name {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
    color: #303133;
}
.project_desc {
    margin-top: 4rem;
    font-size: 2rem;
    line-height: 1.8;
    font-weight: 600;
    color: #303133;
}

.project_table {
    width: 100%;
    margin-top: 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
    font-size: 2rem;
}
.project_table > .table1,
.project_table > .table2,
.project_table > .table3,
.project_table > .table4{
    width: 25%;
}
.table_title {
    margin-bottom: 1rem;
    color: #0054a6;
    font-weight: 700;
}
.table_text {
    font-size: 1.6rem;
    height: 8rem;
    line-height: 8rem;
}
.device {
    line-height: 1.6;
}
.sitelink {
    margin-top: 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    font-size: 2.2rem;
}
.sitelink > .site,
.sitelink > .github,
.sitelink > .file {
    width: 14rem;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    font-weight: 600;
    background-color: #fff;
    color: #0054a6;
    border: 2px solid #0054a6;
    border-radius: 2rem;
    transition: all 0.4s;
}
.site > a,
.github > a,
.file > a {
    color: #0054a6;
}
.sec1 .site:hover, 
.sec1 .github:hover, 
.sec1 .file:hover {
    color: #fff;
    background-color: #0054a6;
}
.sec1 .site:hover a, 
.sec1 .github:hover a, 
.sec1 .file:hover a {
    color: #fff;
}
/* ========== project1 ========== */
/* ========== project1_DESC ========== */
.description_title{
    font-size: 4.5rem;
    font-weight: 600;
    margin: 2rem 0 0 3rem;
}
.pr1_description .description_title{
    color: #0054a6;
}
.description_title span{
    font-size: 2rem;
    font-weight: 400;
    color: #303133;
}
.description_section{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    height: 70vh;
    padding: 3rem  5rem;
}
.description1, .description2{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.sub_title{
    font-size: 3.5rem;
    font-weight: 500;
}
.sub_text{
    margin-top: 3rem;
    color: #303133;
    font-size: 2rem;
    line-height: 1.6;
}
.bold{
    font-weight: 800;
}
.code_capture{
    margin-top: 2rem;
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}
.code_capture p{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
}
.pr1_description .description1 .code_capture p{
    color: #0054a6;
}
.description1 .code_capture img{
    width: 40rem;
}
.code_capture p{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
    transition: all 0.3s;
}
.pr1_description .description2 .code_capture p{
    color: #0054a6;
}
.pr1_description .description2 .code_capture p span{
    font-size: 1.6rem;
    color: #303133;
    font-weight: 600;
    margin-left: 1rem;
    opacity: 0.7;
}
.description2 .code_capture img[alt="banner"]{
    width: 100rem;
    transition: all 0.8s ease-in-out;
}
.description2 .code_capture img[alt="banner"]:hover{
    transform: translate(-10rem, -5rem) scale(1.8);
}
.main_banner{
    width: 50rem;
}
.pr1_description img.weather_cap{
    width: 30rem;
}
.pr1_description img.weather_capJS{
    width: 105rem;
}
/* ========== project1_DESC ========== */


/* ========== project2 ========== */
.sec3 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.sec3 > .main_left {
    width: 60%;
    position: relative;
}
.pizza_autoby{
    width: 8rem;
    height: 8rem;
    position: absolute;
    top: -10%;
    left: 5%;
    animation: pizzaAutoby 10s infinite;
}
@keyframes pizzaAutoby {
    0%{transform: translate(0);}
    50%{transform: translateX(90rem);}
    100%{transform: translateX(0rem);}
}
.pr2_ani{
    position: absolute;
    width: 15%;
    z-index: -1;
    top: 21rem;
    right: -2%;
}
.pc2_full_page {
    width: 90%;
    height: 70rem;
    border: 3px solid #ddd;
    border-radius: 3rem;
    margin-left: 5rem;
    background-image: url(../img/project/project2/project2_fullpage.png);
    background-repeat: no-repeat;
    background-position: center 0%;
    background-size: 100%;
    transition: all 3s ease-in-out;
    box-shadow: 3px 3px 3px #d9d9d9;
}
.m2_full_page {
    position: absolute;
    bottom: -5%;
    right: 0%;
    width: 25%;
    height: 45rem;
    border-radius: 2rem;
    background-image: url(../img/project/project2/project2_mpage.png);
    background-repeat: no-repeat;
    background-position: center 0%;
    background-size: 100%;
    transition: all 3s ease-in-out;
    box-shadow: 0px 0px 5px #d9d9d9;
}
.project_compatibility div.pr2_compatibility{
    background-color: #E70017;
}
.pr2_compatibility:before {
    background: #E70017;
}
.sec3 .project_skill > .skill_title {
    background-color: #E70017;
}
.sec3 .skill_title:before {
    background: #E70017;
}
.sec3 .table_title {
    color: #E70017;
}
.sec3 .device2 {
    line-height: 4rem;
}
.sec3 .project2_num:before {
    background-color: #E70017;
}
.sec3 .sitelink > .site,
.sec3 .sitelink > .github,
.sec3 .sitelink > .file {
    color: #E70017;
    border: 2px solid #E70017;
}
.sec3 .site > a,
.sec3 .github > a,
.sec3 .file > a {
    color: #E70017;
}
.sec3 .site:hover, 
.sec3 .github:hover, 
.sec3 .file:hover {
    color: #fff;
    background-color: #E70017;
}
.sec3 .site:hover a, 
.sec3 .github:hover a, 
.sec3 .file:hover a {
    color: #fff;
}
/* ========== project2 ========== */

/* ========== project2 description ========== */
.pr2_description .description_title{
    color: #E70017;
}
.pr2_description .description_section{
    gap: 5rem;
}
.sec3 .mouse_on2{
    position: absolute;
    top: 5%;
    right: 3%;
    font-size: 1.3rem;
    font-weight: 600;
    color: #E70017;
    opacity: 0.6;
}
.pr2_description .code_capture{
    gap: 5rem;
}
.pr2_description .description1 .code_capture p{
    color: #E70017;
    margin-bottom: 1rem;
}
.capture_border{
    border: 1px solid;
}
.pr2_description .description2 .code_capture p{
    color: #E70017;
}
.pr2_description .capture1 img{
    width: 50rem;
}
section.pr2_description .description1 img.sticky_js{
    width: 80rem;
    transition: all 0.8s ease-in-out;
}
.sticky_js:hover{
    transform: translate(-6rem, 7rem) scale(2);
}
.pr2_description .capture1 p:nth-child(3){
    margin-top: 2rem;
}
.pr2_description .description1 .code_capture p span,
.pr2_description .description2 .code_capture p span{
    font-size: 1.6rem;
    color: #303133;
    font-weight: 600;
    margin-left: 1rem;
    opacity: 0.7;
}
.pr2_description img.scroll_capture{
    width: 35rem;
    transition: all 0.8s ease-in-out;
}
img.scroll_capture:hover{
    transform: translate(25rem, -13rem) scale(2.5);
}
/* ========== project2 description ========== */


/* ========== skill ========== */
.skill{
    width: 100%;
    height: 100vh;
    margin: auto;
}
.skill > .title {
    height: 20rem;
    line-height: 20rem;
    text-align: center;
    font-size: 8rem;
    font-weight: 900;
    font-family: "Space Grotesk", sans-serif;
    color: #303133;
    position: relative;
    margin-top: 5rem;
}
.skill > .title:before,
.skill > .title:after {
    position: absolute;
    content: "";
    display: block;
}
.skill > .title:before {
    width: 4rem;
    height: 4rem;
    top: 50%;
    left: 51%;
    transform: translate(-700%, -50%);
    border: 0.4rem solid #303133;
    border-radius: 50%;
    box-shadow: 3px 3px 10px #818181;
    background-color: #29A587;
}
.skill > .title:after {
    width: 10rem;
    height: 0.4rem;
    top: 50%;
    left: 51%;
    transform: translate(-290%, -50%);
    box-shadow: 3px 3px 10px #818181;
    background-color: #303133;
}
/* ========== skill ========== */


/* ========== contact ========== */
.contact {
    width: 100%;
    height: 100vh;
    margin: auto;
}
.contact > .title {
    height: 20rem;
    line-height: 20rem;
    text-align: center;
    font-size: 8rem;
    font-weight: 900;
    font-family: "Space Grotesk", sans-serif;
    color: #303133;
    position: relative;
    margin-top: 5rem;
}
.contact > .title:before,
.contact > .title:after {
    position: absolute;
    content: "";
    display: block;
}
.contact > .title:before {
    width: 4rem;
    height: 4rem;
    top: 50%;
    left: 48%;
    transform: translate(-700%, -50%);
    border: 0.4rem solid #303133;
    border-radius: 50%;
    box-shadow: 3px 3px 10px #818181;
    background-color: #29A587;
}
.contact > .title:after {
    width: 10rem;
    height: 0.4rem;
    top: 50%;
    left: 48%;
    transform: translate(-290%, -50%);
    box-shadow: 3px 3px 10px #818181;
    background-color: #303133;
}
.info{
    width: 100rem;
    margin: auto;
}
.num_bar, .mail_bar, .github_bar{
    display: flex;
    align-items: center;
    height: 7.5rem;
    background-color: #29A587;
    border-radius: 5rem;
    margin: 3rem auto;
    position: relative;
    width: 60%;
    border: 3px solid #29A587;
    transition: all 0.5s;
}
.num_icon, .mail_icon, .github_icon{
    width: 6.8rem;
    height: 6.8rem;
    background-color: #fff;
    border-radius: 50%;
    margin-left: 0.5rem;
    text-align: center;
    line-height: 8.8rem;
    transition: all 0.5s;
}
.num_icon i{
    color : #29A587
}
.mail_icon i{
    color : #29A587
}
.github_icon i{
    color : #29A587
}
.github_icon{
    line-height: 9.7rem;
}
.info span{
    font-size: 3.5rem;
    font-weight: 600;
    color: #fff;
}
.num span{
    margin-left: 8rem;
}
.mail span{
    margin-left: 5rem;
}
.github_info span a{
    color: #fff;
    margin-left: 16.5rem;
}
.num_bar:hover{
    background-color: #fff;
}
.num_bar:hover span{
    color: #29A587;
}
.num_bar:hover .num_icon{
    background-color: #29A587;
}
.num_bar:hover i{
    color: #fff;
}

.mail_bar:hover{
    background-color: #fff;
}
.mail_bar:hover span{
    color: #29A587;
}
.mail_bar:hover .mail_icon{
    background-color: #29A587;
}
.mail_bar:hover i{
    color: #fff;
}

.github_bar:hover{
    background-color: #fff;
}
.github_bar:hover span a{
    color: #29A587;
}
.github_bar:hover .github_icon{
    background-color: #29A587;
}
.github_bar:hover i{
    color: #fff;
}

.thank{
    width: 100%;
    margin: auto;
    font-size: 4rem;
    text-align: center;
    line-height: 1.5;
    margin-top: 9rem;
    position: relative;
}
.name_effect{
    position: absolute;
    top: -45%;
    left: 30%;
    width: 20rem;
    height: 20rem;
}
.thank .green {
    color: #29A587;
    font-weight: 600;
    font-size: 5rem;
}
.thank .red{
    color: #E70017;
    font-weight: 600;
    font-size: 5rem;
}
.thank .blue{
    color: #0054a6;
    font-weight: 600;
    font-size: 5rem;
}
/* ========== contact ========== */