//padding
@mixin padding($t, $r, $b, $l){
    padding: {
        top : $t;
        right : $r;
        bottom: $b;
        left: $l;
    }
}

//margin
@mixin margin($t, $r, $b, $l){
    margin: {
        top : $t;
        right : $r;
        bottom: $b;
        left: $l;
    }
}

//flex
@mixin flex($di, $ju, $al){
    flex: {
        -direction : $t;
        right : $r;
        bottom: $b;
        left: $l;
    }
}

